{% extends 'base.html' %}
{% load static %}

{% block title %}
    Action Page
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'action.css' %}">
{% endblock %}

{% block content %}
<main class="action-page">
    <section>
        <h1>Active Campaigns</h1>
        <p class="lead text-body-secondary">
            These are the campaigns available today that you can participate in to earn points.
        </p>
    </section>
    <div class="events-container">
        {% for campaign in active_campaigns %}
            <section class="events">
                <div class="events-image">
                    <img src="{{ campaign.get_image_url }}" alt="Campaign Image"
                         onerror="this.onerror=null; this.src='{% static 'green2go.png' %}';" />
                </div>
                <div class="events-info">
                    <h2 class="name">{{ campaign.name }}</h2>
                    <p class="points">Points: {{ campaign.points }}pts</p>
                    <p class="date">Campaign Dates: {{ campaign.start_date }} to {{ campaign.end_date }}</p>
                    <div class="btn-group">
                        <!-- Add button to complete the campaign and add points -->
                        <form method="POST" action="{% url 'complete_campaign' campaign.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Complete</button>
                        </form>
                    </div>
                </div>
            </section>
        {% empty %}
            <p>No active campaigns at this time.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}

{% block scripts %}
    <script>
        function togglePin(button) {
            button.classList.toggle("pinned");
            const img = button.querySelector('img');
            if (button.classList.contains("pinned")) {
                img.src = "{% static 'pinned-icon.png' %}";
            } else {
                img.src = "{% static 'pin.png' %}";
            }
            const isPinned = button.classList.contains("pinned");
            localStorage.setItem("pinnedState", isPinned);
        }

        document.addEventListener("DOMContentLoaded", function () {
            const pinState = localStorage.getItem("pinnedState");
            const pinButton = document.querySelector(".pin-icon");
            if (pinState === "true") {
                pinButton.classList.add("pinned");
                pinButton.querySelector('img').src = "{% static 'pinned-icon.png' %}";
            }
        });
    </script>
{% endblock %}
