<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Base Page{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% block styles %}
  {% endblock %}
</head>
<body>
  <div class="wrapper">
    <header>
      {% if user.is_authenticated %}
        {% include 'navbar.html' %} <!-- Include navbar for all authenticated users -->
      {% else %}
        {% include 'navbar.html' %} <!-- Include same navbar for unauthenticated users -->
      {% endif %}
    </header>

    <main>
      {% block content %}
      <!-- Default content or placeholder -->
      {% endblock %}
    </main>

    <footer>
      <link rel="stylesheet" href="{% static 'footer.css' %}">
      {% block footer %}
        {% include 'footer.html' %}
      {% endblock %}
    </footer>
  </div>
</body>
</html>
