<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">

    <title>BC Sustain</title>
</head>
<body>
    {%include 'navbar.html'%}
    {%block content%}
    <!-- replace me -->

    {%endblock%}
    <footer>
        <div class="footer-logo">
            <img src="footer-logo.png" alt="Footer Logo">
        </div>
    </footer>
</body>
</html>
