{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
  <main class="container">
    <h1>Login</h1>
    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div>
            <label for="email">Email Address (@bc.edu)</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <a href="#">Forgot password?</a>
    <div class="google-signin">
        <a href="/accounts/google/login/">
            <button>Sign in with Google</button>
        </a>
    </div>
    <a href="{% url 'signup' %}">Create Account</a>
  </main>
{% endblock %}
