<header data-bs-theme="dark">
    <nav id="topbar">
      <ul>
        <li><a href="#">Action</a></li>
        <li><a href="#">Base</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Landing Page</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">QR Code</a></li>
        <li><a href="#">Rewards</a></li>
        <li><a href="#">Signup</a></li>
        <li><a href="#">Supervisor</a></li>
        <li><a href="#">Supervisor Rewards</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
