<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BC Sustain Supervisor</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
<body>
  <header class="{% if user.profile.is_supervisor %}supervisor{% endif %}">
    <div class="navbar supervisor-navbar">
          <div class="logo">
              <!-- Logo with a link to the landing page -->
              <a href="{% url 'landing' %}" class="logo-link">
                  <img src="{% static 'bc_feed_your_mind.png' %}"
                  alt="BC Dining Logo"
                  class="BC-Dining-Logo">
              </a>
          </div>
          <nav id="topbar">
              <ul>
                  <li><a href="{% url 'supervisor' %}">Supervisor Dashboard</a></li>
                  <li><a href="{% url 'add_reward' %}">Supervisor Rewards</a></li>
                  <li><a href="{% url 'action' %}">Action</a></li>
                  <li><a href="{% url 'campaign_form' %}">Campaign Form</a></li>
                  <li><a href="{% url 'manage_supervisors' %}">Manage Supervisors</a></li>
                  <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
          </nav>
          <!-- <img src="{% static '3bars.png' %}" alt="Three bars" class="nav-right-image"> -->
      </div>
  </header>
</body>
