footer {
  background-color: #7FC242;
  padding: 10px 20px;
  color: white;
  justify-content: space-between; /* Space out the text and image */
  align-items: center; /* Vertically center the items */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-text {
  flex-grow: 1; /* Allow the text to take up remaining space */
  text-align: center; /* Center the text within this container */
}

.footer-text p {
  margin: 0; /* Remove any default margin for consistent centering */
}

.footer-image img {
  max-width: 40px; /* Set a max width for the image */
  width: auto; /* Maintain the aspect ratio */
  margin-left: auto; /* Push the image to the far right */
}
