
footer {
  background-color: #7FC242;
  padding: 10px 20px;
  align-items: center; /* Center items vertically */
  position: relative; /* Allow for precise positioning */
  color: white;
  justify-content: space-between; /* Spacing out text and image */
  align-items: center; /* Vertically center the content */
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Spread the text and image */
  width: 100%; /* Full width */
  align-items: center;
  position: relative;
}

.footer-text {
  text-align: center; /* Center-align the text */
  flex: 1; /* Allow the text to take up remaining space */

}

.footer-image {
  right: 20px;
  align-items: center;
}


.footer-image img {
  max-width: 40px;   /* Maximum width */
  width: auto;       /* Maintain aspect ratio */

}
