
footer {
  background-color: #7FC242;
  padding: 10px 20px;
  align-items: center; /* Center items vertically */
  position: relative; /* Allow for precise positioning */
  color: white;
}

.footer-content {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: space-between; /* Center the text horizontally in the footer */
  width: 100%; /* Make content span the full width */
  position: relative; /* Allow absolute positioning of the image */
}

.footer-text {
  text-align: center; /* Center-align the text */
  flex: 1; /* Allow the text to take up remaining space */

}

.footer-image {
  right: 20px; /* Align the image to the far right */
  align-items: center;
}


.footer-image img {
  max-height: 40px; /* Restrict the image height */
  width: auto; /* Maintain aspect ratio */
}