/* Global Styles */
* {
    box-sizing: border-box;
}

main {
  margin: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: auto;
}

.welcome-header {
    margin: 20px 20px;
    padding: 0 0;
    text-align: left;
    background-color: #f4f4f4; /* Light gray background */
}

.welcome-header h1 {
    font-size: 2.5rem;
    color: #333; /* Dark text color */
}

.welcome-header p {
    font-size: 1.25rem;
    color: #555; /* Medium text color */
}

#landing-welcome h1{
    text-transform: capitalize;
}
.leaderboard-list li{
    text-transform: capitalize;
}

/* Target only the main element in the landing page */
.landing-page {
    padding-left: 20px; /* Adds padding inside the main section */
    display: flex; /* Flexbox to arrange sections horizontally */
    gap: 20px; /* Adds 20px space between sections */
    margin: 20px 0;
}

/* Leaderboard Section */
.leaderboard {

    min-width: 25%;
    min-height: 400px;
    max-height: 400px; /* Restrict the height of the leaderboard */

    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Add vertical scrolling */

}

.leaderboard h2 {
    font-size: 1.8em;
    color: #4caf50;
    margin-bottom: 15px;
    text-align: center;
}

.leaderboard-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.leaderboard-list li {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.highlight-dot {
    width: 10px;
    height: 10px;
    background-color: #ffeb3b;
    border-radius: 50%;
    margin-right: 10px;
}

/* Events Section */
.events {
    min-width: 50%;
    margin: 0 5px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 400px;
}

.events h2 {
    color: black;
    font-size: 2em;
    margin-bottom: 15px;
}

.event-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.event-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* 3 cards per row with spacing */
    min-width: 175px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.event-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.event-card h3 {
    font-size: 1.4em;
    color: #4caf50;
    margin: 10px 0;
}

.event-card p {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}

button{
    background-color: #5b882c; /* Green button */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
    background-color: #4e7320; /* Darker green on hover */
}
