/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #7FC242;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

img[alt="Profile Picture"] {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

img[alt="Feed your mind"] {
    width: 200px;
    height: auto;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-size: 20px;
    text-align: center;
    color: #5b882c;
    margin-bottom: 15px;
}

section {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #7FC242;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

tr:hover {
    background-color: #e2e2e2;
}
